@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap');

header{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: 'Shrikhand', cursive;
}
*{
    box-sizing: border-box;
}
#logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    display: flex;
    font-size: 450px;
}