@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap');

*{
    box-sizing: border-box;
    font-family: Roboto;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: black;
}
.descriptif{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 45px;
}
.desc{
    display: flex;
    margin-top: 15px;
}
.ox{
    font-weight: bold;
    font-size: 28px;
}
.explo{
    border: 2px solid black;
    border-radius: 20px;
    padding: 4px;
    margin-top: 25px;
    background-color: violet;
    color: white;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-bottom: 1%;
}
.location{
    display: flex;
    justify-content: center;
    background-color: gray;
    padding: 2%;
}
#Fonction{
    padding-left: 5%;
}
#bloc1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu{
    border: 2px solid #f2f2f2;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 15px;
    padding: 15px;
    width: 80%;
    font-size: 21px;
    box-shadow: 3px 3px 3px #f2f2f2;
}
#mainblock2{
    background-color: #f2f2f2;
    width: 100%;
}
#resto{
    margin-left: 6%;
    padding-top: 6%;
}
#bloc2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6%;
}
.boite{
    background-color: white;
    width: 90%;
    border-radius: 20px;
    margin: 2%;
    margin-left: 4%;
    box-shadow: 3px 3px 3px 3px brown;
}
.boite div{
    line-height: 5px;
    margin-left: 1%;
    padding-bottom: 2px;
}
.coeur{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.torrent{
    font-size: 30px;
    margin-right: 6%;
}
.boite img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 200px;
    object-fit: cover;
}
#footer{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    background-color: rgb(48, 44, 44);
    width: 100%;
    color: white;
}
#footer h3{
    font-family: Shrikhand;
}
#footer div ul{
    list-style: none;
    padding-left: 0%;
    line-height: 28px;
}