@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap');

*{
    box-sizing: border-box;
    font-family: Roboto;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: darkblue;
    z-index: 1;
    visibility: hidden;
    animation: collapser 3s ease;
}
.loader-section.section-left svg{
    width: 50%;
    overflow: visible;
} 
.loader-section.section-left.spin{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
}
.loader-section.section-left path{
    stroke-dasharray: 1550;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: spinner 3s ease-in-out forwards;
}
.loader-section.section-left {
    position: fixed;
    left: 35%;
    top: 45%;
    fill: transparent;
    stroke: #FF79DA;
    stroke-width: 20px;
}
@keyframes spinner{
    0%{
        stroke-dashoffset: 0%;
        transform: rotate(0);
    }
    30%{
        stroke-dashoffset: 1550;
        transform: rotate(90deg);
    }
    60%{
        stroke-dashoffset: 3100;
        transform: rotate(145deg);
    }
}
@keyframes collapser{
    0%{
        visibility: visible;
        opacity: 1;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: black;
}
.descriptif{
    background-color: rgb(238, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 45px;
}
.desc{
    display: flex;
    margin-top: 15px;
}
.ox{
    font-weight: bold;
    font-size: 28px;
    max-inline-size: 60%;
    text-align: center;
}
.ex{
    max-inline-size: 60%;
    text-align: center;
    margin-bottom: 25px;
}
.explo{
    border-radius: 20px;
    white-space: nowrap;
    width: fit-content;
    padding: 6%;
    background: linear-gradient(#FF79DA, #9356dc);
    color: white;
    box-shadow: 1px 1px 1px #aaaaaa;
}
.explo:hover{
    opacity: calc(0.8);
    box-shadow: 3px 3px 3px #aaaaaa;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-bottom: 1%;
}
.location{
    display: flex;
    justify-content: center;
    background-color: rgb(224, 222, 222);
    padding: 2%;
    box-shadow: 0 0 3px 0 #aaaaaa;
}
.indiq{
    margin-right: 2%;
}
#Fonction{
    padding-left: 5%;
}
#bloc1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
}
.menu{
    border-radius: 15px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 15px;
    padding: 15px;
    width: 80%;
    font-size: 21px;
    box-shadow: 3px 3px 3px #aaaaaa;
}
.menu:hover{
    background:  #dacceb;
}
.menu:hover >.store{
    color: #9356dc;
}
.mune{
    position: relative;
    display: flex;
    width: 100%;
}
.number{
    position: absolute;
    background-color: #9356dc;
    color: #fff;
    margin-top: 25px;
    left: 5px;
    padding: 2px 7px 2px 7px;
    border-radius: 50px;
}
.store{
    margin-right: 25px;
    color: #afafaa;
}
#mainblock2{
    background-color: #f2f2f2;
    width: 100%;
}
#resto{
    margin-left: 6%;
    padding-top: 6%;
}
#bloc2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6%;
}
.boite{
    background-color: white;
    width: 90%;
    border-radius: 20px;
    margin: 2%;
    margin-left: 4%;
    box-shadow: 3px 3px 3px 3px #aaaaaa;
}
.picture{
    position: relative;
    width: 100%;
}
.new{
    position: absolute;
    right: 5%;
    top: 5%;
    padding: 14px 11px 14px 11px;
    border-radius: 4px;
    color: green;
    background-color: aquamarine;
    font-size: 18px;
}
.boite div{
    line-height: 5px;
    padding-bottom: 2px;
}
.coeur{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
}
.expli{
    width: 100%;
}
.heath{
    fill: transparent;
    stroke: black;
    stroke-width: 35px;
    position: relative;
    margin-right: 6%;
}
.hike:active{
    animation: remplir 2s ease-in-out forwards;
}
@keyframes remplir{
    0%{
        fill: transparent;
    }
    50%{
        fill: #9356dc;
        stroke: transparent;
    }
    100%{
        fill: #9356dc;
        stroke: transparent;
    }
}
.hive{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
}
.heath svg{
    width: 30px;
    overflow: visible;
}
path{
    transform-origin: center;
}
.boite img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 200px;
    object-fit: cover;
}
#footer{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    background-color: rgb(48, 44, 44);
    width: 100%;
    color: white;
}
#footer h3{
    font-family: Shrikhand;
}
#footer div ul{
    list-style: none;
    padding-left: 0%;
    line-height: 28px;
}
.fork{
    margin-right: 1%;
}
@media screen and (max-width:992px) and (min-width:768px) {
    #mainblock1{
        width: 50%;
    }
    .boite{
        width: 50%;
    }
    #footer{
        flex-direction: row-reverse;
    }
}
@media screen and (min-width:992px) {
    #Fonction{
        padding-left: 45%;
    }
    #bloc2{
        flex-direction: row;
        justify-content: space-evenly;
    }
    #resto{
        margin-left: 45%;
        padding-top: 4%;
    }
    .boite{
        width: 240px;
    }
    .hike:hover{
        animation: remplir 2s ease-in-out forwards;
    }
    #footer{
        flex-direction: row;
        justify-content: space-around;
    }
}