@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap');

*{
    box-sizing: border-box;
    font-family: Roboto;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: black;
}
.descriptif{
    background-color: rgb(238, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 45px;
}
.desc{
    display: flex;
    margin-top: 15px;
}
.ox{
    font-weight: bold;
    font-size: 28px;
    max-inline-size: 60%;
    text-align: center;
}
.ex{
    max-inline-size: 60%;
    text-align: center;
}
.explo{
    border-radius: 20px;
    padding: 2%;
    margin-top: 25px;
    background: linear-gradient(#FF79DA, #9356dc);
    color: white;
    box-shadow: 1px 1px 1px #5e5d5d;
}
.explo:hover{
    opacity: calc(0.8);
    box-shadow: 3px 3px 3px #5e5d5d;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-bottom: 1%;
}
.location{
    display: flex;
    justify-content: center;
    background-color: rgb(224, 222, 222);
    padding: 2%;
}
#Fonction{
    padding-left: 5%;
}
#bloc1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu{
    border: 2px solid #f2f2f2;
    border-radius: 15px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 15px;
    padding: 15px;
    width: 80%;
    font-size: 21px;
    box-shadow: 3px 3px 3px #f2f2f2;
}
.menu:hover{
    background:  #9356dc;
    opacity: calc(0.8);
}
.menu:hover >.store{
    color: #FF79DA;
}
.store{
    margin-right: 25px;
    color: #afafaa;
}
#mainblock2{
    background-color: #f2f2f2;
    width: 100%;
}
#resto{
    margin-left: 6%;
    padding-top: 6%;
}
#bloc2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6%;
}
.boite{
    background-color: white;
    width: 90%;
    border-radius: 20px;
    margin: 2%;
    margin-left: 4%;
    box-shadow: 3px 3px 3px 3px brown;
}
.picture{
    position: relative;
    width: 100%;
}
.new{
    position: absolute;
    right: 5%;
    top: 5%;
    padding: 8px 11px 8px 11px;
    border-radius: 4px;
    color: green;
    background-color: aquamarine;
    font-size: 18px;
}
.boite div{
    line-height: 5px;
    padding-bottom: 2px;
}
.coeur{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
}
.expli{
    width: 100%;
}
.heath{
    fill: transparent;
    stroke: black;
    stroke-width: 35px;
    position: relative;
    margin-right: 6%;
}
.hike:hover{
    animation: remplir 2s ease-in-out forwards;
}
@keyframes remplir{
    0%{
        fill: transparent;
    }
    50%{
        fill: var(#9356dc);
        stroke: transparent;
    }
    100%{
        fill: #9356dc;
        stroke: transparent;
    }
}
.hive{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
}
svg{
    width: 30px;
    overflow: visible;
}
path{
    transform-origin: center;
}
.boite img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 200px;
    object-fit: cover;
}
#footer{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    background-color: rgb(48, 44, 44);
    width: 100%;
    color: white;
}
#footer h3{
    font-family: Shrikhand;
}
#footer div ul{
    list-style: none;
    padding-left: 0%;
    line-height: 28px;
}